.profile {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
}

.profile__content {
  display: flex;
  flex-direction: column;
}

.profile__section {
  margin: 74px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.profile__wrapper {
  margin: 107px 0 0;
  max-width: 410px;
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
}

.profile__input {
  margin: 0;
  padding: 16px 0 16px;
  text-align: right;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__inputName {
  margin: 0;
  padding: 16px 3px 16px;
  color: #FFF;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__input_bordered {
  border-bottom: 1px solid #424242;
}

.profile__input::-webkit-input-placeholder {
  color: white;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0 70px;
  gap: 16px;
  max-width: 410px;
  width: 100%;
}

.profile__button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 13px 0 15px;
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
}

.profile__signoutButton {
  color: #EE3465;
}

.profile__saveButton {
  border-radius: 3px;
  background: #4285F4;
}

@media screen and (max-width: 780px) {
  .profile {
    padding: 0 50px 0;
  }

  .profile__inputName {
    font-size: 11px;
  }
}

@media screen and (max-width: 330px) {
  .profile {
    padding: 0 14px 0;
  }

  .profile__section {
    padding: 0 16px 0;
  }

  .profile__buttons {
    margin: 362px 0 40px;
  }
}