.popup {
  display: none;
}

@media screen and (max-width: 768px) {
  .popup {
    position: fixed;
    display: flex;
    justify-content: right;
    background-color: rgba(0,0,0,.3);
    cursor: pointer;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .popup__container {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 520px;
    cursor: default;
  }

  .popup__closeButton {
    background-image: url('../../images/popup-close-button.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: transparent;
    border: none;
    margin: 22.4px 22.4px 0 auto;
    /* padding: 22.4px 22.4px 0; */
    width: 22px;
    height: 22px;
    cursor: pointer;
  }

  .popup__links {
    margin-top: 105.44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  .popup__link {
    color: white;
    text-decoration: none;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .popup__link_active {
    border-bottom: 2px solid white;
  }

  .popup__account {
    margin: auto 0 90px;
  }
}